<!-- <link rel="stylesheet" href="/public/styles.css" /> -->
<div
    id="fondo-nav-mobile"
    class="position-absolute hidden z-2 top-0 start-0 w-100 h-100"
    style="background-color: rgba(0, 0, 0, 0.75)"
></div>
<div id="mobile-menu" class="hidden">
    <ul>
        <li><a href="/public/index.html">Inicio</a></li>
        <!-- <li><a href="about.html">Sobre Nosotros</a></li> -->
        <li><a href="/public/pages/buscarProductos.html">Buscar Propiedades</a></li>
    </ul>
</div>
<nav>
    <p id="titulo">Jugueteria Gus</p>

    <ul id="nav-list">
        <li><a href="/public/index.html">Inicio</a></li>
        <!-- <li><a id="actual" href="about.html">Sobre Nosotros</a></li> -->
        <li><a href="/public/pages/buscarProductos.html">Buscar Juguetes</a></li>
    </ul>

    <div id="hamburguesa" onclick="toggleMenu()">&#9776;</div>
</nav>
